@model ListQuestionsServiceModel
@{
    ViewData["Title"] = "All In Category";
}

<h2>@ViewData["Title"]</h2>

<a class="btn btn-default" asp-controller="Questions" asp-action="Ask" asp-route-id="@Model.CategoryId">Ask Question</a>

@foreach (var question in Model.Questions)
{
    <div class="row">
        <div class="col-md-6 pull-right">
            <h3><a asp-controller="Answers" asp-action="Index" asp-route-id="@question.Id">@question.Title</a></h3>
            @if (this.User.Identity.Name == question.AuthorEmail)
            {
                <a class="btn btn-warning" asp-controller="Questions" asp-action="Edit" asp-route-id="@question.Id">Edit</a>
                <a class="btn btn-danger" asp-controller="Questions" asp-action="Delete" asp-route-id="@question.Id">Delete</a>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pull-right">
            <p>@question.Author @question.Published.ToShortDateString()</p>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-default" asp-controller="Home" asp-action="Index">Back</a>
    </div>
</div>
