@model IEnumerable<WorkoutServiceModel>
@{
    ViewData["Title"] = "Add Workouts";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <form asp-action="Index">
        <div class="col-md-6">
            <input name="searchText" placeholder="Search for food..." />
            <input type="submit" value="Search" class="btn btn-default" />
            <a class="btn btn-default" asp-area="Admin" asp-controller="Workouts" asp-action="Index">All Workouts</a>
            <a asp-area="Admin" asp-controller="Workouts" asp-action="Add" class="btn btn-default">Add Workout</a>
        </div>
    </form>
</div>

@foreach (var workout in Model)
{
    <div class="container">
        <div class="row">
            <div>@workout.Name</div>
            <div>@workout.Description Points</div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/@workout.VideoId" frameborder="0" allowfullscreen>
            </iframe>
            <div class="col-md-4 pull-right">
                <a asp-area="Admin" asp-controller="Workouts" asp-action="Edit" asp-route-id="@workout.Id" class="btn btn-warning">Edit</a>
                <a asp-area="Admin" asp-controller="Workouts" asp-action="Delete" asp-route-id="@workout.Id" class="btn btn-danger">Delete</a>
            </div>
            
        </div>
    </div>

}
