@model ListCalculateViewModel
@{
    ViewData["Title"] = "Choose Food";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <tr>
        <th>Food</th>
        <th>ServingSize</th>
        <th>Calories</th>
        <th>Fat</th>
        <th>Protein</th>
        <th>Carbs</th>
        <th>Fiber</th>
        <th>Sugar</th>
        <th></th>
    </tr>
    @foreach (var food in Model.Food)
    {
        <tr>
            <td>@food.Name</td>
            <td>@(food.ServingSize + " gr")</td>
            <td>@food.Calories</td>
            <td>@food.Fat</td>
            <td>@food.Protein</td>
            <td>@food.Carbs</td>
            <td>@food.Fiber</td>
            <td>@food.Sugar</td>
            <td>
                <a class="btn btn-warning" asp-area="Calculator" asp-controller="Calculate" asp-action="Add" asp-route-id="@food.Id">Add</a>
            </td>
        </tr>
    }
</table>

<table class="table">
    <tr>
        <th>Food</th>
        <th>ServingSize</th>
        <th>Calories</th>
        <th>Fat</th>
        <th>Protein</th>
        <th>Carbs</th>
        <th>Fiber</th>
        <th>Sugar</th>
        <th></th>
    </tr>
    @foreach (var food in Model.Calculator)
    {
        <tr>
            <td>@food.Name</td>
            <td>@(food.ServingSize + " gr")</td>
            <td>@food.Calories</td>
            <td>@food.Fat</td>
            <td>@food.Protein</td>
            <td>@food.Carbs</td>
            <td>@food.Fiber</td>
            <td>@food.Sugar</td>
            <td>
                <a class="btn btn-danger" asp-area="Calculator" asp-controller="Calculate" asp-action="Remove" asp-route-id="@food.Id">Remove</a>
            </td>
        </tr>
    }
</table>


@if (Model.TotalFoodCount > Model.Food.Count())
{
    <ul class="pagination">
        <li class="@(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
            <a asp-route-page="@Model.PreviousPage"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="@(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
            <a asp-route-page="@Model.NextPage"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
}
