@model CommentCrudModel
@{
    ViewData["Title"] = "Delete your comment";
}

<h2>@ViewData["Title"]</h2>


<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <hr />
            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" class="form-control" rows="24" cols="24"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <input hidden asp-for="AnswerId" value="@Model.AnswerId" />
            <input hidden asp-for="QuestionId" value="@Model.QuestionId" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-default" asp-controller="Answers" asp-action="Index" asp-route-id="@Model.QuestionId">Cancel</a>
        </form>
    </div>
</div>

