@model ListFoodViewModel
@{
    ViewData["Title"] = "All Food";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <form asp-action="Index">
        <div class="col-md-6">
            <input name="searchText" placeholder="Search for food..." />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a class="btn btn-info" asp-area="Admin" asp-controller="Food" asp-action="Index">All Food</a>
            <a asp-area="Admin" asp-controller="Food" asp-action="Add" class="btn btn-success">Add Food</a>
        </div>
    </form>
</div>

<table class="table">
    <tr>
        <th>Food</th>
        <th>ServingSize</th>
        <th>Calories</th>
        <th>Fat</th>
        <th>Protein</th>
        <th>Carbs</th>
        <th>Fiber</th>
        <th>Sugar</th>
        <th></th>
    </tr>
    @foreach (var food in Model.Food)
    {
        <tr>
            <td>@food.Name</td>
            <td>@(food.ServingSize + " gr")</td>
            <td>@food.Calories</td>
            <td>@food.Fat</td>
            <td>@food.Protein</td>
            <td>@food.Carbs</td>
            <td>@food.Fiber</td>
            <td>@food.Sugar</td>
            <td>
                <a class="btn btn-warning" asp-area="Admin" asp-controller="Food" asp-action="Edit" asp-route-id="@food.Id">Edit</a>
                <a class="btn btn-danger" asp-area="Admin" asp-controller="Food" asp-action="Delete" asp-route-id="@food.Id">Delete</a>
            </td>
        </tr>
    }
</table>


@if (Model.TotalFoodCount > Model.Food.Count())
{
    <ul class="pagination">
        <li class="@(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
            <a asp-route-page="@Model.PreviousPage"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="@(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
            <a asp-route-page="@Model.NextPage"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
}

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-default" asp-area="Admin" asp-controller="Admins" asp-action="Index">Back</a>
    </div>
</div>
